* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px; /* Adiciona um pequeno espaço ao redor da tela */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    color: #333;
}

p {
    font-size: 1rem;
    color: #555;
}

/* Formulário de Cadastro */
.signup-section {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.signup-section form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 1rem;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

button.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.btn-submit:hover {
    background-color: #555;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #777;
}

footer p {
    color: #333;
}

/* Media Queries para melhorar a responsividade */
@media (max-width: 768px) {
    body {
        padding: 10px; /* Menor espaço nas telas pequenas */
    }

    .signup-section {
        padding: 20px; /* Menos padding em telas menores */
    }
}
